@tailwind base;
@tailwind components;
@tailwind utilities;

/* Genel ayarlar */
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #f0fdf4; /* açık yeşil */
}

/* Scrollbar (modern görünüm) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #16a34a;
  border-radius: 10px;
}